<form ngNativeValidate (submit)="onAddContactSubmit()">
  <input type="text" name="name" [(ngModel)]="contact.name" required minlength="4" />
  <input type="email" name="email"  [(ngModel)]="contact.email" required />
  <input type="text" name="phone"  [(ngModel)]="contact.phone" required />
  <input type="submit" value="Add contact">
</form>
