<div class="container">
  <!--
      String Interpolation: Whatever is evaluated in the TypeScript expression inside the String Interpolation braces 
{{ }} resolves to a String.
      {{ TypeScript_Expression }}  => result is a String
  -->
  <h1>
    <img width=50 src="/assets/star.png" alt="Course System" />
    {{ title }}
  </h1>

  <h2>Add a Course</h2>
  <!-- [(ngModel)] = two-way Data Binding -->
  <div class="container">
    <div class="form-group">
      <label for="courseName">Course Name</label>
      <input
        type="text"
        class="form-control"
        id="courseName"
        placeholder="Enter a course name"
        required
        autofocus
        [(ngModel)]="courseName"
      />
    </div>
    <div class="form-group">
      <label for="courseNum">Course Number</label>
      <input
        type="text"
        class="form-control"
        id="courseNum"
        placeholder="Enter a course number"
        required
        [(ngModel)]="courseNum"
      />
    </div>
    <div class="form-group">
      <label for="startDate">Start date</label>
      <input
        type="date"
        class="form-control"
        id="startDate"
        required
        [(ngModel)]="startDate"
      />
    </div>
    <div class="form-group">
      <label for="department">Department</label>
      <input
        type="text"
        class="form-control"
        id="department"
        placeholder="Enter a Department"
        required
        [(ngModel)]="department"
      />
    </div>
    <!-- Property Binding: [ ] -->
    <button type="button" class="btn btn-primary" [disabled]="addNewCourses" (click)="addNewCourse()">
      Add course
    </button>
  </div>

  <div class="container" id="coursesDiv">
    <hr />
    <h3>{{ title }}</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Course Name</th>
          <th scope="col">Course Number</th>
          <th scope="col">Start Date</th>
          <th scope="col">Department</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>{{ course.courseName }}</td>
          <td>{{ course.courseNum }}</td>
          <td>{{ course.startDate }}</td>
          <td>{{ course.department }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <hr />
    <!-- Even though currentYear is defined as type number in app.component.ts, it resolves to a string -->
    <footer class="text-right">&copy; {{ currentYear }}</footer>
  </div>
</div>
