<div *ngFor="let item of filteredItems">
  <h2>{{ item.name }}</h2>
  <p>Price: {{ item.price }}</p>
</div>
<div>
  <button (click)="sort('name')">Sort by Name</button>
  <button (click)="sort('price')">Sort by Price</button>
</div>
<app-header></app-header>
